<% @articles.each do |article| %>
<h4>
<% if !current_user %>
<%= link_to 'Log-in', new_session_path %>
<% else %>
Hello <%= current_user.username %>
<%= link_to 'Log-Out', new_session_path, method: "DELETE" %>
<% end %>
</h4>

<h3><%= article.title %></h3>

<p>
<%= article.content.truncate(20) %>

<ul class="btn btn-primary btn-lg" role="button">
      <%= link_to 'read more', article_path(article.id) %>
      </ul>
<h4>status : <%= article.status %></h4>
<hr/>

<p>
<ul class="label label-primary">
<%= link_to 'edit', edit_article_path(article.id) %></ul>
<span> | </span>

<ul class="label label-danger">
<%= link_to 'delete', article_path(article.id), method: "DELETE", data: {confirm: 'Delete this data ? '} %></ul>
</p>


<% end %>
<%= will_paginate @articles %>


