<h1>User Baru</h1>
<p>Register Dulu</p>

<div class="row">
	
<%= form_for @user do |f| %>


<div class = "form-group">
	<div class = "col-sm-5">
<%= f.label :username, :class => "col-sm-3 control-label" %>
<%= f.text_field :username, :class => "form-control" %>
<%= @user.errors[:username].first unless @user.errors[:username].blank? %>

 <br/>

<%= f.label :email, :class => "col-sm-8 control-label" %>
<%= f.text_field :email, :class => "form-control" %>
<%= @user.errors[:email].first unless @user.errors[:email].blank? %>

<br/>

<%= f.label :password, :class => "col-sm-1 control-label" %>
<%= f.password_field :password, :class => "form-control" %>
<%= @user.errors[:password].first unless @user.errors[:password].blank? %>

<br/>

<%= f.label :password_confirmation, :class => "col-sm-1 control-label" %>
<%= f.password_field :password_confirmation, :class => "form-control" %>
<%= @user.errors[:password_confirmation].first unless @user.errors[:password_confirmation].blank? %>

<br/>

<%= f.label :humanizer_answer, @user.humanizer_question %>

<%= f.text_field :humanizer_answer, :class => "col-sm-2 control-label" %>

<%= f.hidden_field :humanizer_question_id %>

<br/>

<%= f.submit %>

<% end %>