<nav class="navbar navbar-default" role="navigation">
 <div class="container-fluid">
    <%= link_to "TASK LIMA", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      	<% if logged_in? %>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        
          <li><%= link_to "Articles", articles_path %></li>
          <li><%= link_to "Products", products_path %></li>
          <!-- <li><%= link_to "Comments", comments_path %></li> -->
          <li><%= link_to "Photos", photos_path %></li>
          <li><%= link_to "Import", '/articles/import-from-file' %></li>
          <li><%= link_to "Export", '/articles/export-from-file' %></li>
          <li class="dropdown">
             <a href="#" data-toggle="dropdown" class="dropdown-toggle">Action <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", '/users/:id/edit' %></li>
              <li><%= link_to "Settings", '#' %></li>
              <li class="divider"></li>
              <li><%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <link href="css/bootstrap.min.css" rel="stylesheet">
          <li><a href='signup'><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href='login'><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
        <% end %>
      </ul>
    </nav>
  </div>
</nav>